/* @font-face {
    font-family: "HelveticaNeue";
    src: url(Helvetica_Neue/HelveticaNeueCyr-Light.otf) format("truetype");
} */


body {
    min-width: 900px;
    margin: 0;
    background-color: #E5EAF0;    
}

html {
    height: 100%;
}


.header{
    width: 100%;
    height: 60px;
}

.burger {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 19px;
    height: 12px;
    margin: 20px 10px 28px 22px;
}

.burger-center, .burger-center::after, .burger-center::before {
    width: 100%;
    height: 2px;
    background-color: black;
    display: block;
    position: absolute;
    content: "";
}

.burger-center {
    vertical-align: middle;
    margin: 6px 0;
}

.burger-center::after {
    top: 7px;
}

.burger-center::before {
    bottom: 7px;
}


/* todo */
.svgicon-boot--Mail_ru {
    width: 54px;
    height: 32px;
    margin: 12px 0 16px 0;
    vertical-align: middle;
}

.svgicon-boot--Yandex_ru {
    width: 75px;
    height: 32px;
    margin: 12px 0 16px 0;
    vertical-align: middle;
}




.logo_yandex {
    display: inline-block;
}

.search, .burger, .logo_yandex{
    vertical-align: middle;
}



.header_ending {
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 129px - 10px - 19px - 22px);
    margin: 0;
    height: 60px;
}



.search {
    margin: 11px auto 15px;

    /* display: inline-block; */
    display: block;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 270px;
    width: 45%;
    /* margin: 0; */
    right: 0;
    left: 0;
}

.search_field{
    background-color: rgba(255, 255, 255, 0);
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    min-width: 250px;
    /* width: auto; */
    /* margin: 0 32px 0 0; */
    width: calc(100% - 32px);
}

.search input{
    /* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2); */
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgba(255, 255, 255, 0);
    height: 32px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 16px;
    outline: none;



    /* opacity: 0.5; */
    /* font-family: YSText; */
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.13;
    letter-spacing: normal;
    


}




.cw {
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
}


.close_box {
    cursor: pointer;

    position: relative;
    /* left: 50%; */
    /* top: 50%; */
    height: 32px;
    width: 32px;
    opacity: 0.15;
}
.close_box:hover {
    opacity: 1;
}


.close {
    position: absolute;
    left: 50%;
    top: 50%;
}
.close:before, .close:after {
    position: absolute;
    content: "";
    height: 15px;
    width: 1px;
    background-color: rgb(0, 0, 0);
}
.close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
  







.icon, .check, .data, .sender, .date, .mark {
    display: inline-block;
    vertical-align: middle;



    /* width: 213px; */
    /* height: 16px; */
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}







.left_column {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 22px;
    width: 300px;
}

.write_button{
    border-radius: 3px;
    background-color: #6287bd;
    cursor: pointer;
    padding: 10px 0 12px 0;
    text-align: center;

    /* todo fix font */
    /* font-family: HelveticaNeue; */
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.navigation {
    margin: 8px 0 0 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.navigation li {
    cursor: pointer;
    display: block; 
    padding: 6px 0 8px 12px;

    /* font-family: HelveticaNeue; */
    font-family: Helvetica;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #707070;
}

.navigation li.current {
    background-color: #cdd6e4;
    border-radius: 3px;
    font-weight: bold;
}

.navigation li:not(.current):hover {
    background-color: #dbe1eb;    
    border-radius: 3px;
}








.main {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
    box-sizing: padding-box;
    display: inline-block;
    min-width: 400px;
    position: relative;
    vertical-align: top;
    width: calc(100% - 300px - 20px);    
}


.actions{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.actions li {
    cursor: pointer;
    display: inline-block;
    padding: 11px 20px;

    /* font-family: HelveticaNeue; */
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cccccc;
}

/* .actions li:hover{
    background-color: #cccccc3f;
    color: #555;
} */


.line {
    display: block;
    position: relative;
    width: 100%;
}


.header_mail, .line{
    border: solid 0 #e2e2e2;
    border-width: 0 0 1px 0;
}






.cbw {
    display: inline-block;
    box-sizing: border-box;
    max-width: 43px;
    padding: auto 10px auto 20px ;


    /* margin: auto 10px auto 20px ; */
    /* display: inline-block; */
    /* vertical-align: middle; */
}

.check {
    margin: auto 10px auto 20px;
}

.icon {
    /* background: red; */
    /* position: relative; */
    /* display: inline-block; */
    
    width: 30px;
    height: 30px;


    /* margin: 5px 0 3px 0; */
    /* border: 1px solid #fff; */
    /* border: 1px solid red; */

    margin: 4px 0 2px 0;
    border: 2px solid #fff;
    /* border: 2px solid red; */

    /* box-shadow: 0 0 0 1px #fff; */

    border-radius: 50%;
    text-align: center;

    background-size: cover;
    /* color: white; */

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select : none;

    font-size: 16px;
}

.default_icon {
    background: red;
    color: white;
    vertical-align: middle;
    /* todo font */
}

.icon_text {
    vertical-align: middle;
    display: inline-block;
    padding-top: 5px;
}




.sender{
    box-sizing: border-box;
    padding: 0 10px;
    width: 180px;
}

.mark {
    background-color: #6287bd;
    border-radius: 50%;
    opacity: 0;
    height: 10px;
    width: 10px;
}

.unread .mark {
    opacity: 1;
}

.unread .sender,
.unread .data {
    font-weight: bold;
}

.data {
    box-sizing: border-box;    
    padding: 0 10px;
    width: calc(100% - 43px - 32px - 180px - 10px - 70px - 2px);
}


.date {
    box-sizing: border-box;
    width: 50px;
    margin-right: 20px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    color: #9b9b9b;
}



.write_button, .navigation li,
.sender, .data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




.main_footer {
    border: solid 0 #e2e2e2;
    border-width: 1px 0 0 0;

    width: 100%;
    height: 30px;
    box-sizing: border-box;
    text-align: right;
    padding: 8px 0 0 0;



    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}

.main_footer div{
    display: inline-block;
    margin: 0 20px;
}

.main_footer a {
    text-decoration: none;  
    color: #9b9b9b;
}


.main_block {
    position: relative;
    width: 100%;
    height: 100%;
}





.letter {
    display: none;
    /* position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1000; */
}


.letter ~ .mmsg {
    display: none;

    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1000;

    background-color: white;

    padding: 20px;
}

.letter:checked ~ .mmsg {
    display: block;
}

.smsg {
    cursor: pointer;
}


.letter-block{
    position: relative;
    min-height: 450px;
}

.cw2{
    background-color: rgba(255, 255, 255, 0);
    
    /* vertical-align: middle; */
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    right: 5px;

}


.mmsg {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: normal;
    overflow: auto;
    text-overflow: clip;
}


.msgimg {
    float: left;
    shape-outside: circle(40%);
}





